help
       Show this help
register <SlackName> <GithubName>
       Manually register the user
user <SlackName>
       Show user information in DB
list (<SlackName> ...)
       Show the PR list that should be review by <SlackName>
list all
       Show the all PR list that waiting review
