help
       Show this help
register <SlackName> <GithubName>
       Manually register the user
user <SlackName>
       Show user information in DB
list (<SlackName> ...)
       Show the PR list that should be review by <SlackName>
list all
       Show all PR list that waiting review
remind <GithubUrl> (<GithubUrl> ...)
       Remind reviewers of the pull requests.
pray
       Remind reviewers of your pull requests.
search <Query> (<Query> ...)
       Search on the queries in pull request of github.
       e.g. search author:<GithubName> erlang
